In [0]:
SELECT 
    -- 1. Cria um rótulo legível: "Nome da Cidade (ID: 12345)"
    concat(school_city, ' (ID: ', cast(school_id as string), ')') as escola_label,
    
    -- 2. A nota média para o tamanho da barra
    (media_escola_total / 5) as media_padrao_enem

FROM nttdataeducacao.gold.agg_ranking_escolas

WHERE school_id <> -1  -- Remove alunos sem escola definida

ORDER BY media_escola_total DESC -- Ordena do maior para o menor

LIMIT 10 -- Pega apenas as 10 melhores para o gráfico não quebrar